<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <div th:replace="~{fragments :: TheHeader('Verification Success')}"></div>

</head>

<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="container">
    <div class="text-center mt-5">
        <h1 class="text-success">Verification Successful</h1>
        <p>Your account has been successfully verified.</p>
        <a th:href="@{/login}" class="btn btn-primary">Continue</a>
    </div>
</div>
</body>
<footer th:replace="~{fragments :: footer}"></footer>
</html>