<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <div th:replace="~{fragments :: TheHeader('Recover Your Password')}"></div>
</head>
<div th:replace="~{navbar :: navbar}"></div>
<body class="d-flex flex-column min-vh-100" data-bs-theme="dark">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W27ZPDZ7"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="container flex-grow-1">
    <div th:if="${error != null}" class="text-center mt-5">
        <h2 class="text-danger"><i class="fa-duotone fa-circle-exclamation"></i> Error</h2>
        <p th:text="${error}"></p>
    </div>

    <div th:if="${message != null}" class="text-center mt-5">
        <h2 class="text-success"><i class="fa-duotone fa-circle-check"></i> Success</h2>
        <p th:text="${message}"></p>
    </div>
</div>
</body>
<footer th:replace="~{fragments :: footer}"></footer>
</html>