<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <div th:replace="~{fragments :: TheHeader('Recover Your Password')}"></div>
    <style>
        .form-container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }


        .form-control:focus {
            border-color: #022e64;
            box-shadow: none;
        }


    </style>
</head>


<body data-bs-theme="dark" class="d-flex flex-column min-vh-100">
<div th:replace="~{navbar :: navbar}"></div>
<div class="container flex-grow-1">
    <div th:if="${message != null}">
        <p class="fs-3 text-center" th:text="message"></p>
    </div>

    <div class="form-container ">
        <h2 class="text-center my-5"><i class="fa-duotone fa-user-secret"></i> Recover Your Password</h2>

        <form th:action="@{/recover-password}" method="post" data-bs-theme="dark">
            <input type="hidden" th:value="${code}" name="code">
            <div class="input-group my-4">
                <span class="input-group-text" id="basic-addon7"><i class="fa fa-lock"></i></span>
                <input type="password" id="Password" name="Password" class="form-control"
                       placeholder="Your New Password"
                       aria-label="Password"
                       aria-describedby="basic-addon7" required maxlength="20" minlength="6"
                       oninput="checkPasswordMatch(document.getElementById('ConfirmPassword'))">
            </div>
            <div class="input-group my-4">
                <span class="input-group-text" id="basic-addon8"><i class="fa fa-duotone fa-lock-keyhole"></i></span>
                <input type="password" id="ConfirmPassword" class="form-control" placeholder="Confirm Password"
                       aria-label="Password"
                       aria-describedby="basic-addon8" required maxlength="20" minlength="6"
                       oninput="checkPasswordMatch(this)">
            </div>
            <button type="submit" class="btn btn-info mx-2">Continue</button>
        </form>

    </div>
</div>
<script>
    moduleURL = "[[@{/}]]";
    contextPath = "[[@{/}]]";

    function checkPasswordMatch(confirmPassword) {
        if (confirmPassword.value !== $("#Password").val()) {
            confirmPassword.setCustomValidity("Your passwords aren't the same.");
        } else {
            confirmPassword.setCustomValidity("");
        }
    }

</script>

</body>
<footer th:replace="~{fragments :: footer}"></footer>
</html>