<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <div th:replace="~{fragments :: TheHeader(${pageTitle})}"></div>
    <link th:href="@{/rating-plugin/css/star-rating.css}" media="all" rel="stylesheet" type="text/css"/>
    <script th:src="@{/rating-plugin/js/star-rating.js}" type="text/javascript"></script>
    <link th:href="@{/rating-plugin/themes/krajee-fas/theme.css}" media="all" rel="stylesheet" type="text/css"/>
    <script th:src="@{/rating-plugin/themes/krajee-fas/theme.js}"></script>
</head>

<body data-bs-theme="dark">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W27ZPDZ7"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="container">
    <div th:replace="~{navbar :: navbar}"></div>
    <div th:replace="~{navbar :: searchBar}"></div>
    <div class="row mt-5">
        <div class="col-sm">
            <div style="width: 300px; height: 300px;">
                <img th:src="@{${product.mainImagePath}}" class="img-fluid" alt="product">
            </div>
        </div>
        <div class="col-sm">
            <div>
                <h5 th:text="${product.name}"></h5>
            </div>
        </div>
    </div>

    <div class="row p-5">
        <hr>
        <h3>Reviews</h3>
        <div th:replace="~{review/reviews_reactWith :: data}"></div>

    </div>
    <div th:replace="~{fragments :: pagination('/review/'+${product.alias},'review')}"></div>
</div>
<script>
    contextPath = "[[@{/}]]";
    productId = "[[${product.id}]]";
    var csrfHeaderName = "[[${_csrf.headerName}]]";
    var csrfValue = "[[${_csrf.token}]]";
    currencyS = "[[${CURRENCY_SYMBOL}]]";
    currencyGrSep = "[[${CURRENCY_GROUPING_SEPARATOR == 'COMMA' ? ',' : '.'}]]";
    currencyDisSep = "[[${CURRENCY_DECIMAL_SEPARATOR == 'COMMA' ? ',' : '.'}]]";
    cuurencyWay = "[[${CURRENCY_SYMBOL_PLACE}]]";
    decimalPrec = "[[${CURRENCY_DISPLAY_PRECISION}]]";


    $(document).ready(function () {
        PrimaryImage = $("#Primary-Image");

        $(".image-thumbnail").mouseover(function () {
            currentImageSource = $(this).attr("src");
            PrimaryImage.attr("src", currentImageSource);
        });

        PrimaryImage.on("click", function () {
            $("#image-coursel").modal("show");

        });


        /*$(".linkVoteReview").on("click", function (e) {
            e.preventDefault();
            doVote($(this), "review");
        });

        $(".linkVoteQuestion").on("click", function (e) {
            e.preventDefault();
            doVote($(this), "question");
        });*/

    });

    $(".productPage-ratingStar").rating({
        displayOnly: true,
        hoverOnClear: false,
        showCaption: false,
        theme: 'krajee-fas'

    });


</script>
</body>
<footer th:replace="~{fragments :: footer}"></footer>
</html>