<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="data">
    <div class="row m-2">
        <div class="col">
            <th:block th:each="review : ${reviews}">
                <div class="mt-2">
                    <div class="d-flex">
                        <div class="p-2">
                            <input type="text" class="productPage-ratingStar" dir="ltr" data-size="xs"
                                   th:value="${review.rating}">
                        </div>
                        <div class="p-2">
                            <a th:id="'likeReview'+${review.id}" th:revID="${review.id}"
                               th:classappend="${review.likedByCustomer ? 'fa-solid' : 'fa-thin'}" class="act fa-heart text-danger fa-lg link-underline link-underline-opacity-0" th:href="@{'/react/'+${review.id}+'/Like'}"></a>
                        </div>
                        <div class="p-2">
                            <strong th:id="'likes-review-'+${review.id}" th:text="${review.likes}"></strong>
                        </div>
                        <div class="p-2">
                            <a th:id="'dislikeReview'+${review.id}" th:revID="${review.id}"
                               th:classappend="${review.dislikedByCustomer ? 'fa-solid' : 'fa-thin'}" class="act fa-thumbs-down fa-lg text-primary link-underline link-underline-opacity-0" th:href="@{'/react/'+${review.id}+'/Dislike'}"></a>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col"><strong th:text="${review.title}"></strong></div>
                    </div>
                    <div class="row">
                        <div class="col"><span th:text="${review.ReviewComment}"></span></div>
                    </div>
                    <div class="row">
                        <div class="col ms-3">
                            <small th:text="${review.customer.fullName}"></small>
                            <small th:text="${#dates.format(review.reviewDate, 'yyyy/MM/dd HH:mm')}"></small>

                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
</body>
</html> 