<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>


<div th:fragment="product-description" th:remove="tag" data-bs-theme="dark">
    <div class="m-2">
        <label>Short Description</label>
        <textarea  class="content form-control" th:field="*{shortDescription}" rows="5" required></textarea>
    </div>
    <div class="m-2">
        <section>
            <label for="full-description">Full Description</label>
            <textarea id="full-description"  class="content form-control" th:field="*{fullDescription}"  required></textarea>
        </section>

</div>
</div>

</body>
</html>