<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <div th:replace="~{fragment :: TheHeader(${pageTitle})}"></div>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="~{test :: sideBar}"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="~{test :: topBar}"></nav>

            <div class="container-fluid">
                <div th:replace="~{fragment :: searchFilter('/review/page/1')}"></div>
                <div th:replace="~{fragment :: messageFlash}"></div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <h5 class="text-primary m-0 fw-bold">Manage Review <i
                                    class="fa-duotone fa-star-sharp text-warning"></i></h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered" width="100%" cellspacing="0">
                                <thead class="table-dark">
                                <tr>
                                    <th th:replace="~{fragment :: column_link(${moduleURL},'id','ID','none')}"></th>
                                    <th th:replace="~{fragment :: column_link(${moduleURL},'product.name','Product','none')}"></th>
                                    <th th:replace="~{fragment :: column_link(${moduleURL},'customer','Customer','none')}"></th>
                                    <th th:replace="~{fragment :: column_link(${moduleURL},'rating','Rating','none')}"></th>
                                    <th>Date</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th th:replace="~{fragment :: column_link(${moduleURL},'id','ID','none')}"></th>
                                    <th th:replace="~{fragment :: column_link(${moduleURL},'product.name','Product','none')}"></th>
                                    <th th:replace="~{fragment :: column_link(${moduleURL},'customer','Customer','none')}"></th>
                                    <th th:replace="~{fragment :: column_link(${moduleURL},'rating','Rating','none')}"></th>
                                    <th>Date</th>
                                    <th>Actions</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="review : ${reviewList}">
                                    <td th:text="${review.id}"></td>
                                    <td th:text="${review.product.name}"></td>
                                    <td>
                                        <a class="text-success fw-bold customer-detail"
                                           th:href="@{'/customers/info/'+${review.customer.id}}"
                                           th:title="'view customer details'"
                                           th:text="${review.customer.fullName}">
                                        </a>
                                    </td>
                                    <td th:text="${review.rating}"></td>
                                    <td th:text="${#dates.format(review.reviewDate, 'yyyy/MM/dd HH:mm')}"></td>
                                    <td>
                                        <a class="btn fa-duotone fa-file-alt icon-green fa-2x link-detail"
                                           th:href="@{'/review/info/'+${review.id}}"
                                           th:title="'view more details'">
                                        </a>
                                        <div th:replace="~{fragment :: delete('review', ${review.id}, '/review/delete/' + ${review.id}, true)}"></div>
                                        <div th:replace="~{fragment :: edit('review','/review/update/'+ ${review.id})}"></div>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div th:replace="~{fragment :: pagination(${moduleURL},'review')}"></div>
                    </div>
                </div>
            </div>


        </div>

        <!-- Footer -->
        <div th:replace="~{fragment/footer :: footer}"></div>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<div class="modal fade text-center" id="confirmModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Delete Review Confirmation</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span class="fs-5 fw-bold confirmText"></span>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-success" id="confirmButton">Yes</a>
                <a type="button" class="btn btn-warning" data-bs-dismiss="modal">No</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="detailModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
<div class="modal fade" id="customerModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>

<div th:replace="~{fragment/modal_fragments :: logoutModal}"></div>
<div th:replace="~{fragment :: scripts}"></div>
<script type="text/javascript">
    handleDefaultDetailLinkClick();
    handleDefaultCustomerLinkClick();
    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            Link = $(this);
            orderID = Link.attr("entityId");
            $("#confirmButton").attr("href", Link.attr("href"));
            $(".confirmText").text("Are you certain of your choice to delete this review with ID : " + orderID + " ?")
            $("#confirmModal").modal("show");
        });

    });

    function handleCustomerLinkClick(cssClass, modalId) {
        $(cssClass).on("click", function (e) {
            e.preventDefault();
            linkDetailURL = $(this).attr("href");
            $(modalId).modal("show").find(".modal-content").load(linkDetailURL);
        });
    }

    function handleDefaultCustomerLinkClick() {
        handleCustomerLinkClick(".customer-detail", "#customerModal");

    }

    function handleDetailLinkClick(cssClass, modalId) {
        $(cssClass).on("click", function (e) {
            e.preventDefault();
            linkDetailURL = $(this).attr("href");
            $(modalId).modal("show").find(".modal-content").load(linkDetailURL);
        });
    }

    function handleDefaultDetailLinkClick() {
        handleDetailLinkClick(".link-detail", "#detailModal");

    }

    function clearFilter() {
        window.location = "[[@{/review}]]";

    }
</script>

</body>
</html>