<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
    <div th:replace="~{fragments :: TheHeader(${pageTitle})}"></div>

</head>

<body class="d-flex flex-column min-vh-100">

<div th:replace="~{navbar :: navbar}"></div>
<ul class="nav justify-content-center bg-light mb-3 text-success fw-bold">
    <th:block sec:authorize="isAuthenticated()">
        <li class="nav-item">
            <a class="nav-link " th:href="@{/my-account}" sec:authentication="principal.fullName"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link " th:href="@{/orders}"><i class="fa-thin fa-bags-shopping"></i>Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " th:href="@{/addresses}"><i class="fa-duotone fa-location-dot"></i>
                Addresses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " th:href="@{/FAQ}">FAQ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " th:href="@{/review}">My Review</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " th:href="@{/bag}"><i class="fa-duotone fa-bag-shopping"></i></a>
        </li>
        <li class="nav-item">
            <form th:action="@{/logout}" method="post">
                <input type="hidden" name="csrf.parameterName" value="{_csrf.token}"/>
                <button title="Logout" type="submit" class="btn nav-link "><i
                        class="fa-duotone fa-right-from-bracket"></i></button>
            </form>
        </li>
    </th:block>


</ul>

<div th:replace="~{fragments :: messageFlash}"></div>


<div class="container mt-3">

    <div class="d-flex align-items-center justify-content-between mb-5">
        <h2 class="text-primary">Orders</h2>
    </div>
    <div th:replace="~{fragments :: searchFilter('/orders/page/1')}"></div>

    <div>
        <table class="table table-hover text-center">
            <thead class="table-active">
            <tr>
                <th th:replace="~{fragments :: column_link(${moduleURL},'id','ID','none')}"></th>
                <th th:replace="~{fragments :: column_link(${moduleURL},'orderData','Order Date','none')}"></th>
                <th>Products</th>
                <th th:replace="~{fragments :: column_link(${moduleURL},'totalPrice','Total Price','none')}"></th>
                <th th:replace="~{fragments :: column_link(${moduleURL},'phase','Phase','none')}"></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="order : ${orderList}">
                <td th:text="${order.id}"></td>
                <td>
                    <div th:replace="~{fragments :: format_date(${order.orderDate})}">Order Date</div>
                </td>
                <td class="text-start" th:utext="${order.productList}">
                </td>
                <td><span th:replace="~{fragments :: price(${order.totalPrice})}"></span></td>
                <td th:class="'OrderPhase' + ${order.id}" th:text="${order.phase}"></td>
                <td>
                    <a th:title="'Order Progress'"
                       class="btn progress-link"
                       th:href="@{'/orders/progress/'+${order.id}}">
                        <i class="fa-duotone fa-info fa-lg text-primary-emphasis"></i>
                    </a>
                    <th:block th:if="${order.CUSTOMER_REQUESTED_RETURN == false && order.REVERTED == false && order.RECEIVED == true}">
                        <a class="btn request-return-btn" th:classappend="'Request-returnOrder' + ${order.id}" th:orderID="${order.id}" href="">
                            <i class="fa-duotone fa-arrow-rotate-left fa-lg text-success"></i>
                        </a>
                    </th:block>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="~{orders/request-reverted-modal :: requestReturn}"></div>


<div th:replace="~{fragments :: pagination(${moduleURL},'orders')}"></div>
<footer th:replace="~{fragments :: footer}"></footer>

<!-- Modal -->
<div class="modal fade" id="OrderProgressModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
        </div>
    </div>
</div>
</body>
<script th:src="@{/JS/process-customer_return_request.js}"></script>

<script type="text/javascript">
    contextPath = "[[@{/}]]";
    var csrfHeaderName = "[[${_csrf.headerName}]]";
    var csrfValue = "[[${_csrf.token}]]";

    handleDefaultDetailLinkClick();

    function handleDetailLinkClick(cssClass, modalId) {
        $(cssClass).on("click", function (e) {
            e.preventDefault();
            linkDetailURL = $(this).attr("href");
            $(modalId).modal("show").find(".modal-content").load(linkDetailURL);
        });
    }

    function handleDefaultDetailLinkClick() {
        handleDetailLinkClick(".progress-link", "#OrderProgressModal");

    }

    function clearFilter() {
        window.location = "[[@{/orders}]]";

    }



</script>

</html>