body {
    /*background-image: linear-gradient(to right top, #183d3d, #11373b, #0d3139, #0b2b36, #0b2532);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/

    background-color: #EADBC8;
}

@media screen and (max-width: 768px){
    /*small screen*/
    .hide-column{
        display: none;
    }
    .small-hide-column{
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    /*medium screen*/

    .hide-column{
        display: none;
    }
    .small-hide-column{
        display: table-cell;
    }

}
@media screen and (min-width: 1024px){
    /*large screen*/

    .hide-column{
        display: table-cell;
    }
    .small-hide-column{
        display: table-cell;
    }

}
.icon-white{
    color: white;
}
.icon-silver{
     color: silver;
 }
.icon-red{
      color: red;
  }
.icon-green{
    color: green;
}
.icon-dark{
    color: grey;
}
.icon-blue{
    color: #526D82;
}
.icon-green:hover{
     color: #004b00;
 }
.icon-dark:hover{
    color: #414141;
}

.modal-content {
    background-color: #96A6B0;
}
/*
.btn-warning {
    background-color: #98641F;
    border-color: #98641F;
    color: white;

}
.btn-warning:hover {
     background-color: #553711;
    border-color: #553711;
    color: #b9b9b9;
}
*/


a {
    text-decoration: none ;
}

