<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="form" th:remove="tag">
    <div>
        <div class="form-floating mb-3">
            <input type="date" class="form-control"
                   id="formDeliveryDate" th:field="${order.formDeliveryDate}" required>
            <label for="formDeliveryDate">Delivery Date</label>
        </div>
        <div class="form-floating mb-3">
            <input type="number" class="form-control"
                   id="NumberOfDaysToDeliver" step="1" th:field="${order.NumberOfDaysToDeliver}" required>
            <label for="NumberOfDaysToDeliver">Delivery Days</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control"
                   id="firstName" th:field="${order.firstName}" required>
            <label for="firstName">firstName</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control"
                   id="lastName" th:field="${order.lastName}" required>
            <label for="lastName">lastName</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control"
                   id="phoneNumber" th:field="${order.phoneNumber}" required>
            <label for="phoneNumber">phoneNumber</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control"
                   id="addressLine1" th:field="${order.addressLine1}" required>
            <label for="addressLine1">addressLine1</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control"
                   id="addressLine2" th:field="${order.addressLine2}">
            <label for="addressLine2">addressLine2</label>
        </div>

        <div class="input-group my-4">
            <span class="input-group-text" id="basic-addon4"><i class="fa fa-globe"></i></span>
            <input hidden name="nationName" id="nationName" th:value="${order.nation}" />
            <label for="nation" class="form-label"></label>
            <select id="nation" class="form-control">
                <option th:each="nation : ${nationList}" th:value="${nation.id}" th:selected="${nation.name == order.nation}" th:text="${nation.name}"></option>
            </select>
        </div>

        <div class="input-group my-4">
            <span class="input-group-text" id="basic-addon5"><i class="fa fa-city"></i></span>
            <input id="city" type="text" th:field="*{city}" class="form-control" placeholder="City" aria-label="City"
                   aria-describedby="basic-addon5" required list="cityList">
            <datalist id="cityList"></datalist>

        </div>
    </div>
</div>