<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <div th:replace="~{fragments :: TheHeader(${pageTitle})}"></div>
    <link th:href="@{/rating-plugin/css/star-rating.css}" media="all" rel="stylesheet" type="text/css"/>
    <script th:src="@{/rating-plugin/js/star-rating.js}" type="text/javascript"></script>
    <link th:href="@{/rating-plugin/themes/krajee-fas/theme.css}" media="all" rel="stylesheet" type="text/css"/>
    <script th:src="@{/rating-plugin/themes/krajee-fas/theme.js}"></script>

    <style>
        .quantity-control {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .quantity-control button {
            font-size: 24px;
            background: none;
            border: none;
            cursor: pointer;
            color: #333;
        }

        .quantity-control input {
            width: 40px;
            font-size: 17px;
            text-align: center;
        }

        .quantity-control button:hover {
            color: #a2a2a2;
        }
    </style>
</head>

<body data-bs-theme="dark">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W27ZPDZ7"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div th:replace="~{navbar :: navbar}"></div>
<div th:replace="~{navbar :: searchBar}"></div>
<div th:replace="~{breadcrumb :: category-chain}"></div>

<div data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0" data-bs-smooth-scroll="true"
     class="scrollspy-example" tabindex="0">

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div style="width: 500px; height: 500px;">
                    <img id="Primary-Image" th:src="@{${product.mainImagePath}}" class="img-fluid">
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-2 m-2 p-1">
                        <img class="image-thumbnail" th:src="@{${product.mainImagePath}}" height="50px"/>
                    </div>
                    <th:block th:each="extraImage, status : ${product.images}">
                        <div class=" col-md-2 m-2  p-1">
                            <img class="image-thumbnail" th:src="@{${extraImage.imagePath}}"
                                 height="50px"/>
                        </div>
                    </th:block>
                </div>
            </div>


            <div class="col-sm">
                <div>
                    <h2 th:text="${product.name}"></h2>
                </div>
                <div class="row my-2">
                    <div class="col ms-2">
                        <input type="text" class="productPage-ratingStar" dir="ltr" data-size="md"
                               th:value="${product.rating_avg}">
                    </div>
                    <div class="col mt-4" id="simple-list-example">
                        <a href="#simple-list-item-1"> <span>[[${product.reviews}]] reviews</span></a>
                    </div>
                </div>
                <div>
                    <h5><span class="badge bg-secondary">[[${product.category}]]</span></h5>
                </div>
                <div th:if="${product.discountPercent <= 0}">
                    <p class="fs-5 fw-semibold">Price: [[${CURRENCY_SYMBOL}]][[${product.price}]]</p>
                </div>
                <div th:if="${product.discountPercent > 0}">

                    <p class="text-danger fw-semibold fs-5" style="margin-bottom: 0">Price:
                        <span th:replace="product/productPartialView :: price(${product.discountPrice})"></span>
                    </p>
                    <span class="fw-lighter">was <del>
                    <span th:replace="product/productPartialView :: price(${product.price})"></span>
                </del></span>
                    <p class="fw-lighter">Discount ([[${product.discountPercent}]] <i class="fa-duotone fa-percent"></i>)
                    </p>
                </div>
                <div th:text="${product.shortDescription}"></div>
            </div>
            <div class="col-sm-2">
                <div class="mt-4 text-center">
                    <span th:if="${product.inStock}" class="text-success"><b>In Stock</b></span>
                    <span th:unless="${product.inStock}" class="text-danger"><b>Out of Stock</b></span>
                </div>
                <th:block th:if="${product.inStock}">
                    <div class="mt-2 text-center">
                        <div th:replace="~{Bag/AddToBag :: stock_qty(1,${product.id})}"></div>
                    </div>
                    <div class="mt-1 text-center">
                        <input id="btnAddToCart" type="button" value="Add to Cart" class="btn btn-outline-success">
                    </div>
                </th:block>
            </div>
        </div>
    </div>


    <div class="row mt-5 p-5">
        <hr>
        <p class="fs-4 my-4">Description <i class="fa-duotone fa-ampersand"></i> Information</p>
        <hr>
        <p class="fs-5 text-secondary">Description</p>
        <div class="my-4" th:text="${product.fullDescription}"></div>

        <div th:if="${not #lists.isEmpty(product.details)}" class="container">
            <p class="fs-5 text-secondary my-4">Some Additional Information</p>
            <th:block th:each="info : ${product.details}">
                <div class="row">
                    <p class="fw-semibold col-2" th:text="${info.name}"></p>
                    <p class="col-2" th:text="${info.value}"></p>
                </div>
            </th:block>
        </div>
    </div>
    <div class="row p-5">

        <div th:replace="~{product/The_top_reviews :: data}"></div>
    </div>
</div>

<div data-bs-theme="dark" class="modal fade text-center" id="modalDialog" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header text-warning">
                <h3 class="modal-title" id="modalTitle"></h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span class="fs-5 fw-bold" id="modalBody"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{modal_fragments :: normalModal}"></div>
<div data-bs-theme="dark" aria-live="polite" aria-atomic="true" class="d-flex w-100 ">

    <!-- Then put toasts within -->
    <div class="toast border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img th:src="@{/images/lumosOnlyShape.png}" width="30px" class="rounded me-2" alt="logo">
            <strong id="toastHeadline" class="me-auto"></strong>
            <small>Just Now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-white">
            <span id="toastMessage"></span>
        </div>
    </div>
</div>
<div th:replace="~{product/Carousel-image :: image-coursel}"></div>
<script th:src="@{/JS/Inc_dec_Qty.js}"></script>
<script th:src="@{/JS/reactWithReviews.js}"></script>
<script th:src="@{/JS/modalSystems.js}"></script>
<script>
    contextPath = "[[@{/}]]";
    productId = "[[${product.id}]]";
    var csrfHeaderName = "[[${_csrf.headerName}]]";
    var csrfValue = "[[${_csrf.token}]]";
    currencyS = "[[${CURRENCY_SYMBOL}]]";
    currencyGrSep = "[[${CURRENCY_GROUPING_SEPARATOR == 'COMMA' ? ',' : '.'}]]";
    currencyDisSep = "[[${CURRENCY_DECIMAL_SEPARATOR == 'COMMA' ? ',' : '.'}]]";
    cuurencyWay = "[[${CURRENCY_SYMBOL_PLACE}]]";
    decimalPrec = "[[${CURRENCY_DISPLAY_PRECISION}]]";


    $(document).ready(function () {
        PrimaryImage = $("#Primary-Image");

        $(".image-thumbnail").mouseover(function () {
            currentImageSource = $(this).attr("src");

            PrimaryImage.attr("src", currentImageSource);
        });

        PrimaryImage.on("click", function () {
            $("#image-coursel").modal("show");

        });


        /*$(".linkVoteReview").on("click", function (e) {
            e.preventDefault();
            doVote($(this), "review");
        });

        $(".linkVoteQuestion").on("click", function (e) {
            e.preventDefault();
            doVote($(this), "question");
        });*/

    });

    $(".productPage-ratingStar").rating({
        displayOnly: true,
        hoverOnClear: false,
        showCaption: false,
        theme: 'krajee-fas'

    });


</script>
</body>
<footer th:replace="~{fragments :: footer}"></footer>
</html>