<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">


<head>
    <div th:replace="~{fragments :: TheHeader('search hit')}"></div>
    <link th:href="@{/rating-plugin/css/star-rating.css}" media="all" rel="stylesheet" type="text/css" />
    <script th:src="@{/rating-plugin/js/star-rating.js}" type="text/javascript"></script>
    <link th:href="@{/rating-plugin/themes/krajee-uni/theme.css}" media="all" rel="stylesheet" type="text/css" />
    <script th:src="@{/rating-plugin/themes/krajee-uni/theme.js}"></script>
</head>
<body >
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W27ZPDZ7"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div th:replace="~{navbar :: navbar}"></div>
<div th:replace="~{navbar :: searchBar}"></div>

<div th:if="${totalElement > 0}">
    <h2>Search Results for '[[${keyword}]]'</h2>
</div>
<div th:unless="${totalElement > 0}">
    <h3>No match found for '[[${keyword}]]'</h3>
</div>

<div class="container text-center">
    <div class="row">
        <div th:each="product, iterStat : ${productList}" class="col-md-3 my-4">
            <div th:replace="~{product/productPartialView :: productCard}"></div>
        </div>
    </div>
</div>


<div th:replace="~{fragments :: pagination('/store/search','product')}"></div>
<script>
    $(".productPage-ratingStar").rating({
        displayOnly: true,
        hoverOnClear: false,
        showCaption: false,
        theme: 'krajee-uni'

    });
</script>
</body>
<footer th:replace="~{fragments :: footer}"></footer>
</html>