<div class="modal-header ">
    <h5 class="modal-title">Order Specifics</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="form-container">
        <h2 class="text-center my-5"><i class="fa-duotone fa-bars"></i> [[${title}]]</h2>


        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link text-success" id="nav-follow-Up-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-follow-Up"
                        type="button" role="tab" aria-controls="nav-settings" aria-selected="false">Follow Up
                </button>
                <button class="nav-link active text-success" id="nav-Highlights-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-Highlights"
                        type="button" role="tab" aria-controls="nav-Highlights" aria-selected="true">Highlights
                </button>
                <button class="nav-link text-success" id="nav-Stock-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-Stock"
                        type="button" role="tab" aria-controls="nav-Stock" aria-selected="false">Stock
                </button>
                <button class="nav-link text-success" id="nav-shipping-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-shipping"
                        type="button" role="tab" aria-controls="nav-shipping" aria-selected="false">Shipping
                </button>

            </div>
            <div class="tab-content p-4" id="nav-tabContent">
                <div class="tab-pane fade " id="nav-follow-Up" role="tabpanel"
                     aria-labelledby="nav-follow-Up-tab"
                     tabindex="0">
                    <div class="container">
                        <h4 class="text-center">Follow-ups</h4>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Timestamp</th>
                                <th>Remarks</th>
                                <th>Order Phase</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="followUp : ${order.orderFollowUps}">
                                <td th:text="${#dates.format(followUp.timestamp, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td th:text="${followUp.orderPhase.remark}"></td>
                                <td th:text="${followUp.orderPhase}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane fade show active " id="nav-Highlights" role="tabpanel"
                     aria-labelledby="nav-Highlights-tab"
                     tabindex="0">
                    <div class="container">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <h5 class="card-title">Order Highlight</h5>
                                <span class="badge bg-primary-subtle px-3 " th:text="${order.id}"></span>
                            </div>
                            <div class="card-body" th:object="${order}">
                                <div class="info-item">
                                    <p><strong>Customer Name:</strong> <span th:text="*{customer.fullName}"></span></p>
                                </div>

                                <div class="info-item">
                                    <p><strong>Product Cost:</strong>
                                        <span th:replace="~{fragment :: price(${order.productCost})}"></span>
                                    </p>
                                </div>

                                <div class="info-item">
                                    <p><strong>InterSum:</strong>
                                        <span th:replace="~{fragment :: price(*{interSum})}"></span>
                                    </p>
                                </div>

                                <div class="info-item">
                                    <p><strong>Shipping Charge:</strong>
                                        <span th:replace="~{fragment :: price(*{shippingCharge})}"></span>
                                    </p>
                                </div>

                                <div class="info-item">


                                    <p><strong>VAT(Tax):</strong>
                                        <span th:replace="~{fragment :: price(*{VAT})}"></span>
                                    </p>
                                </div>

                                <div class="info-item">
                                    <p><strong>Total Price:</strong>
                                        <span th:replace="~{fragment :: price(*{totalPrice})}"></span>
                                    </p>
                                </div>

                                <div class="info-item">
                                    <p><strong>Payment Choice:</strong> <span th:text="*{paymentChoice}"></span></p>
                                </div>

                                <div class="info-item">
                                    <p><strong>Order Phase:</strong> <span th:text="*{phase}"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-Stock" role="tabpanel"
                     aria-labelledby="nav-Stock-tab" tabindex="0">
                    <th:block th:each="order, status : ${order.orderSummaries}">
                        <div class="border rounded p-1" th:id="'row' + ${status.count}">
                            <div class="row">
                                <div class="col-md-1">
                                    <div class="divCount">[[${status.count}]]</div>
                                </div>
                                <div class="col-md-5">
                                    <img th:src="@{${order.product.mainImagePath}}" class="img-fluid" alt="stockPhoto"/>
                                </div>
                                <div class="col-md-6">
                                    <div class="row m-2">
                                        <b>[[${order.product.name}]]</b>
                                    </div>
                                    <div class="row m-2 p-4">
                                        <div>
                                            <div>
                                                <p><strong>product cost:</strong>
                                                    <span th:replace="~{fragment :: price(${order.productCost})}"></span>
                                                </p>
                                            </div>
                                            <div>
                                                <p><strong>Qty:</strong>
                                                    <span class="m-1" th:text="${order.qty}"></span>
                                                </p>
                                            </div>
                                            <div th:if="${order.qty == 1}">
                                                <p><strong>Product Price:</strong>
                                                    <span th:replace="~{fragment :: price(${order.itemPrice})}"></span>
                                                </p>
                                            </div>
                                            <div>
                                                <p th:if="${order.qty != 1}">
                                                    <strong>Intermediate Sum:</strong>
                                                    <span class="m-1" th:text="${order.qty}"></span>
                                                    <i class="fa-thin fa-xmark"></i>
                                                    <span th:replace="~{fragment :: price(${order.itemPrice})}"></span>
                                                    <span>=</span>
                                                    <span th:replace="~{fragment :: price(${order.interSum})}"></span>
                                                </p>
                                            </div>
                                            <div>
                                                <p><strong>Shipping charge:</strong>
                                                    <span th:replace="~{fragment :: price(${order.shippingCharge})}"></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </th:block>
                </div>
                <div class="tab-pane fade" id="nav-shipping" role="tabpanel"
                     aria-labelledby="nav-shipping-tab"
                     tabindex="0">
                    <div class="form-group row mb-2">
                        <label class="col-4 col-form-label">order date</label>
                        <div class="col-8">
                            <input type="text" readonly class="form-control" th:value="${order.orderDate}">
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label class="col-4 col-form-label">Deliver date</label>
                        <div class="col-8">
                            <input type="text" readonly class="form-control" th:value="${order.deliverDate}">
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label class="col-4 col-form-label">Firstname</label>
                        <div class="col-8">
                            <input type="text" readonly class="form-control" th:value="${order.firstName}">
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label class="col-4 col-form-label">Lastname</label>
                        <div class="col-8">
                            <input type="text" readonly class="form-control" th:value="${order.lastName}">
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label class="col-4 col-form-label">Phone number</label>
                        <div class="col-8">
                            <input type="text" readonly class="form-control" th:value="${order.phoneNumber}">
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label class="col-4 col-form-label">Address Line 1</label>
                        <div class="col-8">
                            <input type="text" readonly class="form-control" th:value="${order.addressLine1}">
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label class="col-4 col-form-label">Address Line 2</label>
                        <div class="col-8">
                            <input type="text" readonly class="form-control" th:value="${order.addressLine2}">
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label class="col-4 col-form-label">City</label>
                        <div class="col-8">
                            <input type="text" readonly class="form-control" th:value="${order.city}">
                        </div>
                    </div>

                    <div class="form-group row mb-2">
                        <label class="col-4 col-form-label">Nation</label>
                        <div class="col-8">
                            <input type="text" readonly class="form-control" th:value="${order.nation}">
                        </div>
                    </div>

                </div>
            </div>
        </nav>
        <div class="modal fade text-center" id="modalDialog" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="modalTitle"></h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <span class="fs-5 fw-bold" id="modalBody"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>